<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Job Application Portal</display-name>

    <context-param>
        <param-name>projectTitle</param-name>
        <param-value>Job Application Portal</param-value>
    </context-param>
    <context-param>
        <param-name>groupMembers</param-name>
        <param-value>Mohamed Elbayaa (11901012066), Yousef Hatem K (092231039), Mohamed Alharbi (12107013584), Salem Mekhaimar (12009012985), Masoum Abdalla (12201013939)</param-value>
    </context-param>
    <context-param>
        <param-name>studentIds</param-name>
        <param-value>11901012066, 092231039, 12107013584, 12009012985, 12201013939</param-value>
    </context-param>
    <context-param>
        <param-name>contactEmail</param-name>
        <param-value>group@example.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>com.jobportal.controller.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
